/* ==========================================================================
   Button Component
   ========================================================================== */

.btn {
  display: inline-flex; align-items: center; justify-content: center; gap: 6px;
  background-color: transparent; 
  padding: 10px 20px; border-radius: 6px; font-weight: 500; font-size: 14px;
  outline: none; border: none; cursor: pointer; user-select: none; line-height: 1; text-decoration: none;
  transition: background-color 0.2s;
  &.primary {
    background-color: #FFC72B; color: #2F3034;
    // &:hover { background-color: ; }
  }
  &.outline {
    border: 1px solid #DEDEDE; background-color: #ffffff; color: #404046;
  }
  &.dark {
    background-color: #4F535A; color: #ffffff;
  }
  &.sm { padding: 6px 12px; font-size: 12px; border-radius: 6px; }
  &.md { padding: 10px 20px; font-size: 14px; }
  &.lg { padding: 14px 28px; font-size: 16px; border-radius: 10px; }
  &.full { width: 100%; padding: 14px 20px; font-size: 16px; }
  &:disabled, &.isDisabled {
    opacity: 0.5; cursor: not-allowed; pointer-events: none;
  }
  // Icon Button
  .ico {
    flex-shrink: 0;
  }
}


// 페이지 하단버튼
.pageBottom {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

// 버튼 그룹
.buttonGroup {
  display: flex;
  align-items: center;
  gap: 6px;
}
.buttonGroupRight {
  margin-left: auto;
}
