.barPercent {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.barPercentTrack {
  flex: 1;
  height: 8px;
  overflow: hidden;
  background: $color-gray-100;
  border-radius: 999px;
}

.barPercentFill {
  height: 100%;
  background: $color-yellow-500;
  border-radius: inherit;
}

// .barPercentValue {
//   flex: 0 0 auto;
//   font-size: 14px;
//   line-height: 1;
//   font-weight: $font-weight-semibold;
// }




