/* ==========================================================================
   Segment Component
   ========================================================================== */

.segment {
  display: inline-flex;
  align-items: center;
  padding: 4px;
  background-color: #f5f5f5;
  border-radius: 6px;
  user-select: none;
  gap: 4px;

  .segmentItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    padding: 0px 12px;
    font-size: 12px;
    font-weight: 500;
    color: #6D717B;
    background: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease;
    white-space: nowrap;
    position: relative;
    line-height: 1;

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    .segmentText {
      position: relative;
      z-index: 1;
    }

    // &:hover {
    //   color: $color-gray-800;
    // }

    // Active State (Button & Radio)
    &.isActive,
    &:has(input[type="radio"]:checked) {
      color: $color-white;
      background: $bg-dark;
      font-weight: 700;
    }

    &:disabled,
    &.isDisabled,
    &:has(input[type="radio"]:disabled) {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  // Size Variants
  // &.sm {
  //   padding: 2px;
  //   border-radius: 6px;

  //   .segmentItem {
  //     padding: 4px 10px;
  //     font-size: 12px;
  //     border-radius: 4px;
  //   }
  // }

  // &.lg {
  //   padding: 4px;
  //   border-radius: 10px;

  //   .segmentItem {
  //     padding: 8px 20px;
  //     font-size: 14px;
  //     border-radius: 8px;
  //   }
  // }

  // Full Width
  // &.full {
  //   display: flex;
  //   width: 100%;

  //   .segmentItem {
  //     flex: 1;
  //   }
  // }
}


