// Font
@font-face {
  font-family: 'KBFG Text';
  src: fontUrl('KBFGText-Light.woff2') format('woff2');
  font-weight: $font-weight-light;
}

@font-face {
  font-family: 'KBFG Text';
  src: fontUrl('KBFGText-Medium.woff2') format('woff2');
  font-weight: $font-weight-medium;
}

@font-face {
  font-family: 'KBFG Text';
  src: fontUrl('KBFGText-Bold.woff2') format('woff2');
  font-weight: $font-weight-bold;
}

// Common
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  // font-family: $font-family-base;
  font-size: 14px;
  font-weight: $font-weight-light;
  line-height: 1.5;
  color: $text-primary;
  background-color: $color-gray-50;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Text Align Utilities
.textLeft { text-align: left !important; }
.textCenter { text-align: center !important; }
.textRight { text-align: right !important; }






