// Mixins
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Functions
@function imgUrl($path) {
  @return url('#{$path-images}/#{$path}');
}

@function iconUrl($name) {
  @return url('#{$path-images}/icon/#{$name}');
}

@function fontUrl($name) {
  @return url('#{$path-fonts}/#{$name}');
}





