// Variables
$primary: #FFC72B;
// $primaryHover: #E6B800;
$white: #ffffff;
$gray100: #f3f4f6;
$gray200: #e5e7eb;
$gray300: #d1d5db;
$gray800: #1f2937;
$radiusSm: 6px;
$radiusDefault: 6px;
$radiusMd: 6px;
$radiusLg: 6px;

// Paths
$path-images: '../images';
$path-fonts: '../fonts';
