<!-- 
  [D] 파일 첨부 컴포넌트 개발 가이드
  - 기본형: input[type="file"] 변경 시 .fileUploadInput의 value에 파일명 바인딩
  - 드롭존: 파일 드래그 시 'isDragOver' 클래스로 테두리/배경 활성화
  - 파일 목록: .fileList 내부에 .fileItem 동적 렌더링 (파일이 없을 땐 .fileList를 비워두면 자동 숨김)
-->

<!-- 1. 기본 인풋형 파일 첨부 -->
<div class="formGroup">
  <label class="formLabel">첨부파일 (기본형)</label>
  <div class="fileUpload">
    <!-- [D] 선택된 파일명이 들어가는 인풋 -->
    <input type="text" class="formControl fileUploadInput" placeholder="선택된 파일이 없습니다" readonly>
    <label class="btn outline md fileUploadBtn">
      파일 선택
      <input type="file">
    </label>
  </div>
</div>

<!-- 2. 드래그 앤 드롭 파일 첨부 (Dropzone) -->
<div class="formGroup">
  <label class="formLabel">첨부파일 (드래그 & 드롭)</label>
  
  <!-- [D] 파일 드래그 오버 상태: isDragOver 클래스 추가 -->
  <div class="fileDropzone">
    <!-- 상단 드래그 & 클릭 영역 -->
    <div class="dropzoneHeader">
      <input type="file" multiple>
      <div class="dropzoneIcon">
        <svg viewBox="0 0 24 24"><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"/></svg>
      </div>
      <p class="dropzoneText">파일을 마우스로 끌어오거나 <span class="highlight">클릭하여 업로드</span>하세요</p>
      <p class="dropzoneDesc">지원 형식: JPG, PNG, PDF, ZIP (최대 20MB)</p>
    </div>

    <!-- [D] 첨부된 파일 목록 (동적 렌더링 / 파일 없을 시 li 제거) -->
    <ul class="fileList">
      <li class="fileItem">
        <div class="fileInfo">
          <span class="fileIcon">
            <svg viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"/></svg>
          </span>
          <span class="fileName">2026_이벤트_기획안_v1.2.pdf</span>
          <span class="fileSize">(1.4 MB)</span>
        </div>
        <button type="button" class="fileDelete" aria-label="삭제">
          <svg viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>
        </button>
      </li>
      <li class="fileItem">
        <div class="fileInfo">
          <span class="fileIcon">
            <svg viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"/></svg>
          </span>
          <span class="fileName">메인_배너_이미지_01.png</span>
          <span class="fileSize">(840 KB)</span>
        </div>
        <button type="button" class="fileDelete" aria-label="삭제">
          <svg viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>
        </button>
      </li>
    </ul>
  </div>
</div>
