<!-- 테이블 상단 (좌측: 타이틀 & 건수 / 우측: 버튼 그룹) + 기본 테이블 -->

<div class="tblWrap">
  <table class="tbl">
    <thead>
      <tr>
        <th>헤더1</th>
        <th>헤더2</th>
        <th>헤더3</th>
        <th>헤더4</th>
        <th>헤더5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>내용1</td>
        <td>내용2</td>
        <td>내용3</td>
        <td><span class="badge ongoing">진행중</span></td>
        <td>
          <div class="btnGroup">
            <button type="button" class="btn outline sm">수정</button>
            <button type="button" class="btn outline sm">삭제</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>내용1</td>
        <td>내용2</td>
        <td>내용3</td>
        <td><span class="badge completed">완료</span></td>
        <td>
          <div class="btnGroup">
            <button type="button" class="btn outline sm">수정</button>
            <button type="button" class="btn outline sm">삭제</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>내용1</td>
        <td>내용2</td>
        <td>내용3</td>
        <td><span class="badge ongoing">진행중</span></td>
        <td>
          <div class="btnGroup">
            <button type="button" class="btn outline sm">수정</button>
            <button type="button" class="btn outline sm">삭제</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


 <div class="sectionBox">
  <div class="tblTop">
    <div class="tblLeft">
      <h3 class="tblTitle">관리정보</h3>
    </div>
  </div>

  <div class="tblWrap">
    <table class="tbl tblView">
      <colgroup>
        <col style="width: 140px;">
        <col>
        <col style="width: 140px;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th>등록자</th>
          <td>김국민</td>
          <th>등록일자</th>
          <td>2026.06.15 23:14:17</td>
        </tr>
        <tr>
          <th>수정자</th>
          <td>김증권</td>
          <th>수정일자</th>
          <td>2026.06.20 23:14:17</td>
        </tr>
        <tr>
          <th>승인자</th>
          <td>박승인(팀장)</td>
          <th>승인일자</th>
          <td>2026.06.21 23:14:17</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
